[Unit]
Description=Cookwi API
[Service]
WorkingDirectory=/var/www/cookwi-api
ExecStart=/usr/bin/dotnet /var/www/cookwi-api/Api.Hosting.dll --urls "http://localhost:5000"
Restart=always
RestartSec=10
SyslogIdentifier=cookwi-api
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Homologation
[Install]
WantedBy=multi-user.target